

<div id ='wall'>
  <h1><%=@user[0].user_name%> </h1>

  <% @wall_post.reverse.each do |post| %>
    <div class='post'>
      <p><%= simple_format(post.message) %></p>
      <p><%= post.created_at%> </p>
      <p><a href='/walls?name=<%= post.user.user_name %> '> <%= post.user.user_name %></p>
      <% if current_user.user_name == post.user.user_name %>
       <%= render(:partial => '/layouts/editing', :locals => {:postId => post.id})%>
       <% end %>
    </div>
  <% end %>


  <%= form_tag({controller: "walls", action: "create"}) do |form| %>
    <%= label_tag(:post, "post to wall:") %>
    <%= text_field_tag(:post) %>
    <%= submit_tag("add") %>
  <% end %>


</div>


