<h1>Walls#index</h1>
<p>Find me in app/views/walls/index.html.erb</p>

<% @wall_post.reverse.each do |post| %>
  <div class='post'>
    <p><%= simple_format(post.message) %></p>
    <p><%= post.created_at%> </p>
    <p><%= post.user.email %></p>
    <%= link_to 'delete', post_path(post.id), method: :delete,  data: { confirm: 'Are you sure you wish to delete this post?' } %>
    <%= link_to 'edit', edit_post_path(post.id) %>
  </div>
<% end %>

<%= link_to new_wall_path do %>
  post on wall
<% end %>

<% if user_signed_in? %>

  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<% end %>
