<h2> Posts </h2>
<% @posts.reverse.each do |post| %>
  <div class='post'>
    <p><%= simple_format(post.message) %></p>
    <p><%= post.created_at%> </p>
    <p> <%= link_to walls_path(:user_name => post.user.user_name) do %>
       <%= post.user.user_name %>
       <% if current_user.user_name == post.user.user_name %>
       <%= render(:partial => '/layouts/editing', :locals => {:postId => post.id})%>
       <% end %>
    <% end %>
   



  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<% if user_signed_in? %>

  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<% end %>
