<div id ='post_wall'>
  <h1> Posts </h1>

  <% @posts.reverse.each do |post| %>
    <div class='post'>
      <p class='message'><%= post.pretty_message %></p>
      <p>Left at: <%= post.created_at%> </p>

      <p><%= link_to walls_path(:user_name => post.user.user_name) do %>
        From: <%= post.user.user_name %>
      <% end %>  </p>

    
      <% if current_user.user_name == post.user.user_name %>
        <%= render(:partial => '/layouts/editing', :locals => {:post => post})%>
      <% end %>

    </div>
  <% end %>

  <%= link_to new_post_path do %>
    New post
  <% end %>
</div>