<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <% if user_signed_in? %>
      <%= render 'layouts/nav_bar' %>
      <%= yield %>
      <%= render 'layouts/user_menu' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
